<header class="main-header">
    <nav class="main-navigation">

        <a class="main-header-logo index-header-logo" href="index.html">
            <img src="images/index-logo.png" alt="Логотип Барбершопа Бородинский" width="371" height="155">
        </a>

        <div class="main-navigation-wrapper">
            <div class="container">
                <ul class="site-navigation-list">
                    <li>
                        <a class="site-navigation-link" href="#">Информация</a>
                    </li>
                    <li>
                        <a class="site-navigation-link" href="#">Новости</a>
                    </li>
                    <li>
                        <a class="site-navigation-link" href="price.html">Прайс-лист</a>
                    </li>
                    <li>
                        <a class="site-navigation-link" href="shop.html">Магазин</a>
                    </li>
                    <li>
                        <a class="site-navigation-link" href="#">Контакты</a>
                    </li>
                </ul>

                <ul class="user-navigation-list">
                    <li>
                        <a class="user-navigation-link login-link" href="login.html" class="login-link">Вход</a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>
</header>