<section class="modal modal-login">
    <h2 class="modal-title">Личный кабинет</h2>
    <b>Введите пожалуйста свой логин и пароль</b>
    <form action="post" class="login-form">
        <p class="login-form-item">
            <label for="login-form-username">Логин</label>
            <input class="login-icon-user" type="text" name="login-form-username" id="login-form-username">
        </p>

        <p class="login-form-item">
            <label for="login-form-password">Пароль</label>
            <input class="login-icon-password" type="password" name="login-form-password" id="login-form-password">
        </p>

        <p class="login-password-info">
            <label class="login-checkbox" for="">
                <input type="checkbox" class="visually-hidden" name="form-password-remember">
                <span class="checkbox-indicator"></span>
                Запомните меня
            </label>
            <a class="restore" href="#">Я забыл пароль!</a>
        </p>

        <button class="button" type="submit">Войти</button>
    </form>

    <button class="modal-close">Закрыть</button>
</section>