<header class="main-header">
    <nav class="main-navigation">
        <div class="main-navigation-wrapper">
            <div class="container">
                <a class="main-header-logo inner-page-header-logo" href="index.html">
                    <img src="images/site-logo-small.png" alt="Логотип Барбершопа Бородинский" width="111" height="24">
                </a>

                <ul class="site-navigation-list">
                    <li class="site-navigation-item">
                        <a class="site-navigation-link" href="#">Информация</a>
                    </li>
                    <li>
                        <a class="site-navigation-link" href="#">Новости</a>
                    </li class="site-navigation-item">
                    <li class="current-page">
                        <a class="site-navigation-link" href="price.html">Прайс-лист</a>
                    </li class="site-navigation-item">
                    <li>
                        <a class="site-navigation-link" href="shop.html">Магазин</a>
                    </li class="site-navigation-item">
                    <li>
                        <a class="site-navigation-link" href="#">Контакты</a>
                    </li>
                </ul>

                <ul class="user-navigation-list">
                    <li class="user-navigation-item">
                        <a class="user-navigation-link login-link" href="login.html" class="login-link">Вход</a>
                    </li>
                </ul>
            </div>
        </div>



    </nav>
</header>